body {
  font-family: $primaryFont;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: $black;
  background-color: $white;

  @include desktop {
    font-size: vw(18);
    line-height: vw(21);
  }

  @include media("l") {
    font-size: 16px;
    line-height: 19px;
  }
}

.container {
  margin: 0 vw(100);
}

.container-wide {
  margin: 0 vw(50);
}

.first-section {
  margin-top: 175px;

  @include desktop {
    margin-top: vw(175);
  }
}

.section {
  padding: 150px 0;

  @include desktop {
    padding: vw(150) 0;
  }

  @include media("m") {
    padding: 75px 0;
  }
}

.no-scroll {
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: $red;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: $red;
}
::-webkit-scrollbar-track {
  background: $greyLight;
  border-radius: 0px;
  box-shadow: inset 7px 10px 12px $greyLight;
}
::selection {
  background: $greyLight;
}
