$media-list: (
  "xxs": 420,
  "xs": 576,
  "s": 768,
  "m": 992,
  "l": 1280,
  "xl": 1600,
  "xxl": 1920,
);

$primaryFont: "Raleway", sans-serif;
$secondaryFont: "Playfair Display", serif;

$transition: all 0.4s ease-out;

$black: #131313;
$white: #fdfdfd;
$red: #9d0102;
$grey: #ebe6e2;
$greyLight: #f5f1ee;
$greyDark: #cecece;
