.form {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__title {
    margin-bottom: 42px;
    font-family: $secondaryFont;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;

    @include desktop {
      margin-bottom: vw(42);
      font-size: vw(36);
      line-height: vw(48);
    }
  }

  &__inputs {
    max-width: 400px;
    margin-bottom: 20px;

    @include desktop {
      max-width: vw(400);
      margin-bottom: vw(20);
    }

    &-group {
      margin-bottom: 20px;

      @include desktop {
        margin-bottom: vw(20);
      }
    }
  }
}
