.langs {
  display: flex;
  align-items: center;

  &__item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 8px;

      @include desktop {
        margin-right: vw(8);
      }

      &::after {
        content: "|";
        margin-left: 8px;
        font-size: 24px;
        line-height: 28px;

        @include desktop {
          margin-left: vw(8);
          font-size: vw(24);
          line-height: vw(28);
        }
      }
    }
  }
}
