.title {
  font-family: $secondaryFont;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;

  @include desktop {
    font-size: vw(36);
    line-height: vw(48);
  }

  @include media("l") {
    font-size: 30px;
    line-height: 36px;
  }

  @include media("s") {
    font-size: 24px;
    line-height: 28px;
  }

  &-first {
    font-weight: 700;
  }

  &-last {
    color: $greyDark;
  }
}
