extends ../layouts/default

include ../partials/sections/_heading
include ../partials/sections/_contactsblock
include ../partials/sections/_formblock

block vars
  -
    const page = {
      title: 'Contatti — Lana Beauty',
      class: 'contacts',
      content: {
        heading: {
          title: 'Contatti',
        },
        contacts: {
          media: {
            map: { url: 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2817.9985857773613!2d7.6783836149345985!3d45.065539767977484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47886d6ea0ad8531%3A0x365dfc2b04a874a0!2sVia%20Bruno%20Buozzi%2C%205%2C%2010121%20Torino%20TO!5e0!3m2!1sen!2sit!4v1633981537042!5m2!1sen!2sit' },
          },
          info: {
            timetable: '09:00 — 20:00 da lunedi a sabato',
            address: 'Via Bruno Buozzi, 5, 10121 Torino TO',
            phone: { href: 'tel:011999999', text: '011 999999', class: 'contactsblock-info__link'},
            email: { href: 'mailto:example@example.com', text: 'example@example.com', class: 'contactsblock-info__link'},
            socials: true,
          },
        },
        formblock: {
          lastSection: true,
          media: {
            image: {},
          },
          form: {
            title: 'Ci sono ancora le domande?',
            inputs: [
              {
                type: 'text',
                name: 'name',
                placeholder: 'Nome',
              },
              {
                type: 'tel',
                name: 'tel',
                placeholder: 'Cellulare',
              },
              {
                type: 'textarea',
                name: 'question',
                placeholder: 'Domanda',
              },
            ],
            privacy: {
                type: 'checkbox',
                name: 'privacy',
                label: `Ho preso visione e acconsento al trattamento dei dati personali ai sensi 
                        dell’art. 13 del Regolamento UE 2016/679 (c.d. GDPR) e del D. Lgs. 30.06.2003, 
                        n. 196, così come modificato ed integrato dal D. Lgs. 10.08.2018, n. 101 
                        (c.d. Codice Privacy)`,
              },
          },
        },
      },
    };

block main
  +heading(page.content.heading)
  +contactsblock(page.content.contacts)
  +formblock(page.content.formblock)

