extends ../layouts/default

include ../partials/sections/_hero
include ../partials/sections/_quoteblock
include ../partials/sections/_info
include ../partials/sections/_promo
include ../partials/sections/_testimonials

block vars
  -
    const page = {
      title: 'Lana Beauty — estetica & makeup permanente',
      class: 'index',
      content: {
        hero: {
          slides: [
            { 
              title: 'Crea il tuo look indimenticabile',
              link: { text: 'Prenota l’appuntamento' },
              socials: true,
              background: { src: 'hero-main.jpg', alt: '' },
            },
            { 
              light: true,
              title: 'Stai indimenticabile',
              link: { text: 'Prenota l’appuntamento' },
              socials: true,
              background: { src: 'hero-servizi.jpg', alt: '' },
            },
          ],
        },
        quote: {
          firstSection: true,
          text: `You won't get a&nbsp;second chance to make a&nbsp;first impression`,
          figcaption: '— Coco Chanel',
        },
        info: {
          lastSection: true,
          items: [
            {
              title: { word1: 'Make', word2: '-Up', subtitle: 'MAKEUP<br>PEELING LIFTING<br>INIEZIONI' },
              image: { src: 'makeup.jpg', alt: '' },
              description: [
                {
                  text: `Il trucco giusto può rendere armoniosa tutta la tua immagine, evidenziare i tuoi lati forti e nascondere i piccoli difetti della pelle. I nostri esperti sanno come renderti ancora più bella con l'aiuto della make-up art!`,
                  link: { href: '/servizi.html#makeup', text: 'Più informazioni' },
                },
              ],
            },
            {
              flipped: true,
              title: { word1: 'Manicure', subtitle: 'MANI, PEDI<br>EDIFICIO ACRILICO<br>ESTENSIONE GEL' },
              image: { src: 'manicure.jpg', alt: '' },
              description: [
                {
                  text: `Il trucco giusto può rendere armoniosa tutta la tua immagine, evidenziare i tuoi lati forti e nascondere i piccoli difetti della pelle. I nostri esperti sanno come renderti ancora più bella con l'aiuto della make-up art!`,
                  link: { href: '/servizi.html#manicure', text: 'Più informazioni' },
                },
              ],
            },
          ],
        },
        promo: {
              title: 'Prenota la tua visita online',
              text: 'risparmi fino al 30%',
              link: { text: 'Prenota l’appuntamento' },
              background: { src: 'divider-main.jpg', alt: '' },
        },
        testimonials: {
          firstSection: true,
          title: { word1: 'I ', word2: 'testimonials', subtitle: 'cosa dicono di noi' },
          items: [
            { author: 'Sarah Karras', date: 'Agosto 2021', image: { src: 'testimonials.jpg', alt: '' }, text: `Joyce fornisce sempre un servizio eccellente per me. Maria si occupa di lavarmi la testa mentre Joyce si occupa dello styling e di altri compiti. Penso che lavorino bene insieme e forniscano un ottimo servizio! Le raccomando vivamente. Sono persone molto piacevoli, è piacevole trattare e parlare con loro, sono molto accomodanti e capiscono perfettamente i miei bisogni e desideri. L'atmosfera è sempre amichevole e rilassata. Il salone è pulito e gli appuntamenti sono puntuali.` },
            { author: 'Karras Sarah', date: 'Settembre 2020', image: { src: 'makeup.jpg', alt: '' }, text: `Joyce fornisce sempre un servizio eccellente per me. Maria si occupa di lavarmi la testa mentre Joyce si occupa dello styling e di altri compiti. Penso che lavorino bene insieme e forniscano un ottimo servizio! Le raccomando vivamente. Sono persone molto piacevoli, è piacevole trattare e parlare con loro, sono molto accomodanti e capiscono perfettamente i miei bisogni e desideri.` },
          ],
        },
        coupons: {
          lastSection: true,
          items: [
            {
              title: { word1: 'I ', word2: 'coupon', subtitle: 'e buoni regalo' },
              image: { src: 'coupon.jpg', alt: '' },
              description: [
                {
                  text: `Lascia una richiesta e ti aiuteremo a scegliere esattamente il regalo giusto per chi ami`,
                  link: { href: '#', text: 'Prenota adesso' },
                },
              ],
            },
          ],
        },
      },
    };

block main
  +heroSection(page.content.hero)
  +quoteblock(page.content.quote)
  +info(page.content.info)
  +promo(page.content.promo)
  +testimonials(page.content.testimonials)
  +info(page.content.coupons)
