extends ../layouts/default

block vars
  -
    const page = {
      title: 'Lana Beauty — estetica & makeup permanente',
      class: 'index',
    };

block main
  +sectionTitle('test', 'title')
  +link({text: 'Linktext'})
  +quote({text: 'A very very long quote text.<br>With tags etc.'})
