extends ../layouts/default

include ../partials/sections/_hero
include ../partials/sections/_quoteblock

block vars
  -
    const page = {
      title: 'Lana Beauty — estetica & makeup permanente',
      class: 'index',
      content: {
        hero: {
          slides: [
            { 
              title: 'Crea il tuo look indimenticabile',
              link: { text: 'Prenota l’appuntamento' },
              socials: true,
              background: { src: 'hero-main.jpg', alt: '' },
            },
            { 
              light: true,
              title: 'Stai indimenticabile',
              link: { text: 'Prenota l’appuntamento' },
              socials: true,
              background: { src: 'hero-servizi.jpg', alt: '' },
            },
          ],
        },
        quote: {
          text: `You won't get a&nbsp;second chance to make a&nbsp;first impression`,
          figcaption: '— Coco Chanel',
        },
      },
    };

block main
  +heroSection(page.content.hero)
  +quoteblock(page.content.quote)

  //- .container
  //-   +sectionTitle('test ', 'title')
  //-   +link({text: 'Linktext'})
  //-   +quote({text: 'A very very long quote text.<br>With tags etc.'})
  //-   a(href="#").navlink LINK
  //-   +socials 
