header.header
  .container-wide
    .header-wrapper
      a(href="/").header-logo
        img(src=require("../../assets/images/header-logo.svg"), alt="Lana Beauty — estetica & makeup permanente").header-logo__item
      
      .header-burger
        span.header-burger__line

      .header-overlay

      .header-menu
        .header-menu__wrapper
          a(href="/").header-menu__logo
            img(src=require("../../assets/images/logo.png"), alt="Lana Beauty — estetica & makeup permanente").header-menu__logo-item
          
          nav.header-menu__nav
            ul.header-menu__list
              each item in [ { link: '/services.html', text: 'Servizi' }, { text: 'Portfolio' }, { text: 'Shop' },  { link: '/contacts.html', text: 'Contatti' },]
                li.header-menu__list-item
                  a(href= item.link ? item.link : '#').link.navlink.header-menu__link= item.text

            ul.langs.header-menu__langs
              li.langs__item
                a(href="#" data-lang="ru").link.navlink.langs__item-link
                  | Ru

              li.langs__item
                a(href="#" data-lang="en").link.navlink.langs__item-link
                  | En
          
          .header-menu__contacts
            a(href="tel:+39011999999").link.navlink.header-menu__link 
                | 011 999999

          .header-menu__socials
            +socials
            