doctype html

block vars
include ../utils/_mixins

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title About page

  body
    block header

    main.main
      block main

    block footer