mixin formblock(content)
  - const className = (content.firstSection ? 'first-section' : '') + (content.lastSection ? ' last-section' : '')
  section.formblock.section(class= className)
    .container.columns
        .columns-wrapper
          .columns__left
            .formblock-media.formblock__media
              if (content.media.image)
                img(src= content.media.image.src, alt= content.media.image.alt ? content.media.image.alt : '').formblock-media__item.formblock-media__image
          
          .columns__right
            .formblock-heading
              if (content.title)
                .formblock-heading__title
                  +sectionTitle(content.title.word1, content.title.word2)

                  if (content.title.subtitle)
                    .formblock-heading__title-subtitle
                      +subtitle(content.title.subtitle)
              
              .formblock-form
                +form(content.form)
                    