mixin heading(content)
  section.heading      
      .container.columns
        .columns-wrapper
          .columns__left
          .columns__right
            - const tag = content.tag ? content.tag : 'h1'
            #{tag}.banner-title.heading__title= content.title

            if (content.description)
              .heading__description
                p.banner-text !{content.description}
        
