mixin heroSection(content)
  section.hero.section(class= content.firstSection ? 'first-section' : '')
    .swiper.banner.hero-slider
      .swiper-wrapper
        each item, index in content.slides
          .swiper-slide.hero__wrapper(class= item.light ? 'hero__wrapper-light' : '')
            if (item.background)
              .hero__background
                .hero__background-overlay
                img(src=require(`../../assets/images/${item.background.src}`), alt= item.background.alt ? item.background.alt : '').hero__background-image

            .container.hero__container
              - const tag = (index === 0) ? 'h1' : 'h2'
              #{tag}.banner-title.hero__title= item.title

              if (item.link)
                .hero__link
                  +link(item.link)

              if (item.socials)
                .hero__socials
                  +socials

      .swiper-pagination.hero-slider__pagination
