mixin info(content)
  - const className = (content.firstSection ? 'first-section' : '') + (content.lastSection ? ' last-section' : '')
  section.info.section(class= className)
    .container
      .info-wrapper
        each item in content.items
          .info-item(class= item.flipped ? 'info-item--flipped' : '', id= item.id ? item.id : '')
            .info-image.info-item__image
              .info-image__wrapper
                .info-image__container
                  img(src=require(`../../assets/images/${item.image.src}`), alt= item.image.alt ? item.image.alt : '').info-image__item

            .info-text.info-item__text
              .info-text__wrapper
                .info-text__content
                  .info-text__title
                    +sectionTitle(item.title.word1, item.title.word2)

                    if (item.title.subtitle)
                      .info-text__title-subtitle
                        +subtitle(item.title.subtitle)
                  
                  each description in item.description
                    .info-description.info-text__description
                      if (description.title)
                        .info-description__title
                          +subtitle(description.title, 'h3')
                      
                      p.info-description__text !{description.text}

                    if (description.link)
                      .info-description__link
                        +link(description.link)
