mixin quoteblock(content)
  - const className = (content.firstSection ? 'first-section' : '') + (content.lastSection ? ' last-section' : '')
  section.quoteblock.section(class= className)
    .container
      .quoteblock__wrapper
        +quote(content)
        